/* Image de fond */
body {
  color:black;
  background-color:white;
  background-image:url(Oxn6ANc.png);
  margin:0;
  background-attachment:fixed;
  background-repeat:no-repeat;
  background-size: cover;
}
/* Aligner les cadres */
#conteneur{
  height: 400px;
  width: 100%;
  margin: auto;
  padding: 60px;
}
/* Compétences */
.marginspecial {
  margin-top: 4%;
}
figcaption {
  text-align: center;
}
.displayed {
  display: block;
  margin-left: auto;
  margin-right: auto
}
/* Lien Map Contact */
.a
{
color: white;
text-decoration: none;
}
/* Footer */
#footer{
  position: absolute;
  bottom: 0px;
}
