/* Image de fond */
body {
color:black;
background-color:white;
background-image:url(Oxn6ANc.png);
margin:0;
background-attachment:fixed;
background-repeat:no-repeat;
background-size: cover;
}
/* Mise en place des cadres */
.décalé{
  margin: 10px auto;
  width: 95%;
  padding: 10px;
}
.décalé2{
  margin: 15px;
  width: 75%;
}
/* Carrousel d'accueil */
div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  padding: 0;
  font-size: 0;
  left: 0;
  text-align: left;
  animation: 30s slidy infinite;
}
/* Onglet contact */
form {
  margin: 0 auto;
  width: 400px;
  padding: 1em;
}
form div + div {
  margin-top: 1em;
}
label {
  display: inline-block;
  width: 90px;
  text-align: right;
}
input, textarea {
  font: 1em sans-serif;
  width: 300px;
  box-sizing: border-box;
  border: 1px solid #999;
}
input:focus, textarea:focus {
  border-color: #000;
}
textarea {
  vertical-align: top;
  height: 5em;
}
.button {
  padding-left: 90px;
}
button {
  margin-left: .5em;
}
